/* Content */

body {
    margin: 0; 
    font-family: 'Lato', sans-serif; /* See _font_faces.scss */
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizelegibility;
    font-display: optional;
    -moz-osx-font-smoothing: grayscale;
    -webkit-osx-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.75);
}

