/* Cutting corners */

.cut-corners-small {
  border-radius: 3px;
}

.cut-corners-large {
  border-radius: 1em ;
}

.cut-corner-top-left {
  border-top-left-radius: .6em ;
}

.cut-corner-top-right {
  border-top-right-radius: .6em;
}

.cut-corner-bottom-left {
  border-bottom-left-radius: .6em;
}

.cut-corner-bottom-right {
  border-bottom-right-radius: .6em;
}

.cut-corners-top-edge {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.cut-corners-bottom-edge {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  }

.cut-corners-right-edge {
  border-top-right-radius: 1em ;
  border-bottom-right-radius: 1em;
}

.cut-corners-left-edge {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
