@import url(https://fonts.googleapis.com/css?family=Fascinate|Lato);


/* 
	Assistant|Fascinate|IBM+Plex+Sans|Mada|Noto+Sans|Noto+Sans+SC|Nunito+Sans|Pavanam|Tajawal|Yantramanav 

	font-family: 'Assistant', sans-serif;
	font-family: 'IBM Plex Sans', sans-serif;
	font-family: 'Mada', sans-serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Noto Sans SC', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Pavanam', sans-serif;
	font-family: 'Tajawal', sans-serif;
	font-family: 'Yantramanav', sans-serif;
	font-family: 'Fascinate', cursive;

*/

