 .extra-large {
  font-size: 150%;
  padding: .5em 1.6em .55em; }

.large {
  font-size: 120%;
  padding: .5em 1.6em .55em; }

.medium {
  font-size: 100%;
  padding: .5em 1.4em .60em; }

.standard {
  font-size: 90%;
  padding: .4em 1.6em; }

.small {
  font-size: 80%;
  padding: .25em 0.5em .4em; }

.extra-small {
  font-size: 75%;
  padding: .4em 0;}

.super-small {
  font-size: 70%; }

.underline {
  text-decoration: underline; }

.italic {
  font-style: italic; }

.strike {
  color:#777;
  text-decoration:line-through; }

.raleway {
  font-family: 'Raleway', sans-serif;
}

.fjallaone {
  font-family: 'Fjalla One', sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.garamond {
  font-family: 'EB Garamond', serif;
}

.proxima {
  font-family: 'proxima-nova', sans-serif;
}
