@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Berkshire+Swash&display=swap);

@import './proxima'; 

.proxima {
	font-family: 'Proxima Nova', sans-serif; }

/* Garamond & Berkshire are offlined using SW for use inside Superbooks */

.garamond {
	font-family: 'EB Garamond', serif; }

.berkshire {
	font-family: 'Berkshire Swash', cursive; }