@import '../accessibility/notch';

/* Read more at https://bubblin.io/blog/toucaan-introduction */

@media (min-aspect-ratio: 2 / 1) {
  :root {
    --edge: 100vmin; /* The shorter side */
    --fs: calc(var(--edge) / 100);
  }
}

@media (max-aspect-ratio: 2 / 1) {
  :root {
    --edge: 50vw;
    --fs: calc(var(--edge) / 100);
  }
}

:root {
  /* Width in landscape: */
  --lean: calc(100 * var(--vmin)); /* 100vmin i.e Full portrait width or full landscape height. */
  --safe: calc(100 * var(--fs) + (100vmax - 100 * var(--fs)) / 2); /* 100vmin plus half of extra space on either sides. */
  --full: 100%; /* Useful for full bleed headers and banners. */
  --half: 50%;
  --one-third: calc(1 / 3 * 100%);
  --two-third: calc(2 / 3 * 100%);
  --header: calc(30 * var(--fs));
  --main: calc(100vw - var(--header));
}


/* Set up a baseline environment. */
@import '../typesetting/typography';

@import '../typesetting/typeset';

@import '../palette/colors';

@import '../env/helpers/universal';

@import '../env/tags/html';

@import '../env/tags/body';

@import '../env/tags/anchor';

@import '../env/tags/lists';

@import '../env/tags/pre';

@import '../env/tags/hr';

@import '../env/tags/blockquote';

@import '../env/tags/sup';

/* Environment helpers & utilities. */

@import '../env/helpers/pseudos';

@import '../env/helpers/group';

/* App specific styles. */

@import '../env/helpers/utilities';

/* Form controls for the app */

@import './app/forms/website';

@import './app/forms/domain';

@import './app/forms/convert';

@import './app/forms/payment';

@import './app/forms/github';

// @import './app/forms/login'; /* To be removed. */

@import './app/forms/radiobuttons';

@import './app/forms/checkbox';

// /* Thematic pieces here */

// @import './app/animations';

@import './app/shadows';

@import './app/flashes';

@import './app/tooltip';

@import './app/components/fomo';

@import './app/components/loader';

@import './app/components/header';

@import './app/components/main';

@import './app/components/hero';

@import './app/components/app';

@import './app/components/features';

@import './app/components/collapsible';

@import './app/components/upload';

@import './app/components/process';

@import './app/components/footer';

@import './app/components/order';

@import './app/components/stripe';

@import './app/components/showcase';

@import './app/components/sheet';

@import './app/components/ribbon';

@import './app/components/postcard';
