/* Wiggle before I die! */

.wiggle {
  cursor: pointer; /* Too bad */
  &:hover {
    animation-name: wiggle;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  &:nth-child(odd) {
    animation-duration: .3s;
  }
  &:nth-child(even) {
    animation-duration: .2s;
  }
}



@keyframes wiggle {
  from {
    transform: rotateZ(1deg);
  }
  50% {
    transform: rotateZ(-1deg);
  }
  to {
    transform: rotateZ(1deg);
  }
}