.button {
  user-select: none;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  outline: medium none;
  text-align: center;
  text-decoration: none;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.05);
  background-repeat:repeat-x;
  white-space:nowrap;
  vertical-align: baseline;
  font-family: 'proxima-nova', sans-serif;
  transition:all 0.3s linear 0s;
  &:hover {
    text-decoration: none; }
  &:active {
    position: relative;
    top: 1px; } }

a.button {
  color: #FFF; }

a.close {
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  line-height: 0px;
  position:absolute;
  padding: 10px;
  top: 2px;
  right:10px;
}

.close:before {
  content: "×";
}