/* Border colors */

.white-border {
    border: 1px solid #fff;
}

.gray-border {
    border: 1px solid #efefef;
}

.dashed-border {
    border: 1px dashed rgb(68, 68, 68);
}

.red-dashes {
    border: 1px red dashed !important;
    background-color: rgba(244, 0, 0, 0.1) !important;
}

.green-dashes {
    border: 1px #4f4 dashed !important;
    background-color: rgba(0, 244, 0, 0.2) !important;
}

.gray-dashes {
    border: 1px #aaa dashed;
    background-color: rgba(50, 50, 50, 0.4);
}


/* Text colors */

.blue-text {
    color: #1177ff;
}

.green-text {
    color: #11ff0f;
}

.faded-text {
    color: #666;
}

.black-text {
    color: #222;
}

.white-text {
    color: #fff;
}

.red-text {
    color: #F02;
}


/* Button colors */

.big-red {
    background-color: #CC0000;
    background-image: linear-gradient(to bottom, #CC0000, #7E0101);
    border: 1px #c00;
    color: #FFF;
    font-weight: 500;
    background-repeat: repeat-x;
    &:hover,
    &:active {
        background: #7E0101;
    }
}

.big-green {
    color: white;
    border: 1px solid #6ea900;
    background-color: #6ea900;
    background-image: linear-gradient(to bottom, #7fba00, #6ea900);
    &:hover,
    &:active {
        background: #457C0C;
    }
}

.big-gray {
    color: white;
    border: solid 1px #999;
    background-color: #939393;
    background-image: linear-gradient(to bottom, #999999, #777777);
    &:hover,
    &:active {
        background: #777;
    }
}

.big-blue {
    border: 1px solid #07d;
    background: linear-gradient(#0076ef, #0065ef) repeat scroll 0 0 transparent;
    color: #FFF;
    &:hover {
        background: linear-gradient(#1155ee, #0055ee) repeat scroll 0 0 transparent;
        color: #FFF;
    }
}

.light-gray {
    background: #EBEBEB;
    background: linear-gradient(white, #ebebeb);
    border: 1px solid #ddd;
    &:hover {
        background: #f3f3f4;
        background: linear-gradient(white, #e0e0e0);
    }
}

a.light-gray {
    color: #444 !important;
    text-decoration: none;
    &:hover {
        color: #222;
    }
}


/* Background colors CSS */

.black {
    color: white;
    background: linear-gradient(#101013, #010101) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.transparent-black {
    background-color: rgba(0, 0, 0, 0.6);
}

.transparent-white {
    background-color: rgba(255, 255, 255, 0.85);
}

.light-grey {
    background-color: #f9f9f9;
}

.dark-gray {
    background-color: #777;
    color: #fff;
}

.dark-blue {
    color: #fff;
    background-color: #012e51;
    
}

.gradient {
    background: linear-gradient(#FFFFFF, #F2F6F9) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.white {
    background-color: rgba(255, 255, 255, 0.99);
    color: #444 !important;
}

.noticeable-yellow {
    background: none repeat scroll 0 0 #FFFFCC;
}

.noticeable-red {
    background: none repeat scroll 0 0 #FFefef;
    color: #f00;
}

.light-blue {
    background-color: #e1f0fa;
    border-color: #d1e0fa;
}

.light-green {
    background-color: #e0f1ea;
    border-color: #e0fad1;
}

.pastel-blue {
    background-color: #71c0fa;
    color: #fff;
}