article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizelegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
}

body {
    margin: 0; 
    font-family: 'Fascinate', cursive;
    font-family: 'EB Garamond', serif;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizelegibility;
    font-display: optional;
    -moz-osx-font-smoothing: grayscale;
    -webkit-osx-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.75);
}


/* Anchors */

a {
    color: #1177FF;
    text-decoration: none;
    text-rendering: optimizelegibility;
    outline: 0;
    &:focus,
    &:active,
    &:hover {
        outline: 0;
    }
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 280%;
    font-weight: normal;
}

h2 {
    font-size: 200%;
    font-weight: normal;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 110%;
}

h6 {
    font-size: 100%;
}

strong {
    font-weight: bold;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eaeaea;
    margin: 1em 0;
    padding: 0;
}

p {
    margin: .8em 0;
}

menu,
ul,
ol {
    margin: 0;
    padding: 0;
}

menu,
ul {
    list-style-image: none;
    list-style: none;
}

nav ul {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


/* ----- Section below picked up from Nicolas Gallagher's Normalize.css ------ */

form {
    margin: 0;
}

fieldset {
    border: none;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,
input,
select,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    font-family: sans-serif;
    color: #222;
}

/* Picked up from Normalize.css */

button, input {
    line-height: normal;
    text-transform: none;
}

button, html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

input {
    &[type="reset"],
    &[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
        *overflow: visible;
    }
}

button[disabled],
html input[disabled] {
    cursor: default;
    opacity: 0.5;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        box-sizing: border-box;
        padding: 0;
        *height: 13px;
        *width: 13px;
    }
    &[type="search"] {
        -webkit-appearance: textfield;
        /* 1 */
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        /* 2 */
        box-sizing: content-box;
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/*-- Coloring pseudos like Text Selections/Placeholder/Inactive State. Sooth! :D --*/

* {
    box-sizing: border-box;
    &:after {
        box-sizing: border-box;
        /* content:''; */
    }
    &:before {
        box-sizing: border-box;
        /* content: ''; */
    }
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #444;
    font-size: 16px;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #444;
    font-size: 16px;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #444;
    font-size: 16px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #444;
    font-size: 16px;
}

::-moz-selection {
    background: #a7d7ff;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #a7d7ff;
    color: #000;
    text-shadow: none;
    &:window-inactive {
        background: #eaeaea;
        color: #000;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 1000px #FBFBFB inset;
}

