@media (max-width: 870px) {
  body {
    .hide-on-mobiles { display: none; }
    .display-on-mobiles { display: inline-block; }
    .divide-in-half { width: 90vw; }
    .one-half { width: 100%; }
    .one-third { width: 100%; }
    .two-third { width: 100%; }
    .shrink { width: 95%; }
    .align { margin: 0 auto; text-align: center;}
    .page iframe { background: transparent; }
    .title {font-size: 300%;} /* Cover page */
    .banner { height: 200px; }
  }
}

@media (min-width: 871px) {
  body {
    .hide-on-mobiles { display: marker; }
    .display-on-mobiles { display: none; }
    .divide-in-half { width: 50vw; }
    .one-half { width: 50%; }
    .one-third { width: 33.33333%; }
    .two-third { width: 66.66666%; }
    .shrink { width: 90%; }
    .align { margin: 0 0;}
    .page iframe { background: transparent; }
    .title {font-size: 240%;} /* Cover page */
    .banner{ height: 400px; }
  }
}

/* -- Print style below from HTML5 Boilerplate --*/

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/*====================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after {
    content: "";
  }
  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
