.overlay {
  position: fixed;
  overflow: hidden;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  cursor:pointer;
  z-index:50000;
  font-family: 'proxima-nova', Arial, sans-serif;
}

.overlay_close {
  position:relative;
  right:10px;
  top:10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 13px 1px;
  color:gray;
}

.overlay_close:before {
  content: "×";
}

.modalContainer {
  opacity: 1;
  cursor:default !important;
  z-index:100001;
  background: #fff;
  min-height: 180px;
  min-width: 310px;
  /*margin-top:-10%; */
}

.overlay-heading {
  height:45px;
  padding: 10px;
}
