a {
    color: var(--bc);
    text-decoration: none;
    text-rendering: optimizelegibility;
    outline: 0;
    &:focus,
    &:active,
    &:hover {
        outline: violet;
    }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
