/* Portrait ⇋ landscape switch. */

@import url('toucaan/app/portrait/portrait.css') only screen and (orientation: portrait);

@import url('toucaan/app/landscape/landscape.css') only screen and (orientation: landscape); 


/* --bu stands for block units for blockscoped typography. */

@media only screen and (orientation: portrait) {
    :root { 
        --bu: calc(100vw/100); 
    } 
}

@media only screen and (orientation: landscape) {    
    :root { 
        --bu: calc(100vh/100);  
    }
}


/* Global variables below */

:root {
	--bc: rgba(128, 102, 255, 1); /*hsla(225.5, 100%, 70%, 1);*/ } 