.tooltip {
  --bg-color: var(--translucent-black);
  --color: var(--white);
  
  --size: 2vw;
  --outer-padding: 0.75vw;
  --offset: var(--outer-padding);
  
  position: relative;
  top: 0;
  left: 2vw;
  width: 2vw;
  
  filter: drop-shadow(2px 2px 2px rgba(43, 43, 43, 0.2));
}

.tooltip__content {
  min-width: 15vw;
  max-width: 22vw;
  margin-top: 0.5vw;
  text-shadow: none;
  padding-left: calc(var(--size) + var(--outer-padding));
  width: 35vw;
  height: auto;
}

.tooltip__content ul li { 
  font-size: 80%;
  padding: 0.25vw 0.5vw;
}

.tooltip__content a { 
  color: var(--lemonblue);
}


.tooltip__trigger {
  display: inline-grid;
  place-content: center;
  
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  
  background-color: var(--light-grey);
  color: var(--text);
  
  font-size: calc(var(--size) / 2);
  
  text-decoration: none;
  
  box-shadow: 0 0 0 0.2vw rgba(43, 43, 43, 0.3);
  transition-delay: .3s;
  transition: background-color .3s ease-in-out, box-shadow 250ms ease-in-out;
}

.tooltip__wrapper {
  position: absolute;
  top: 0;
  left: calc(-1 * var(--offset));
  
  z-index: -1;
  
  border-radius: calc(var(--size) / 4);
  padding: var(--outer-padding);
  
  background: var(--bg-color);
  color: var(--white);
  text-shadow: none;
  
  clip-path: circle(
    calc(var(--size) / 2.5)
    at
    calc(var(--size) / 2 + var(--offset))
    calc(var(--size) / 2 + var(--offset))
  );
  box-shadow:
    inset 0 0 0 2px var(--white),
    2px 2px 5px 0px rgba(43, 43, 43,  0.3);
  
  transition: clip-path .3s ease-in-out;
  font-size: calc(var(--size) / 2 );
}

.tooltip__wrapper h1 {
  display: inline;
  
  margin: 0;
  padding: 0;
  margin: 0 calc(var(--size) + var(--outer-padding));
  
  font-size: calc(var(--size) / 2 );
  font-weight: 900;
  line-height: 1.5;

  text-shadow: none;
  color: var(--lemonblue)
}

.tooltip:hover > .tooltip__wrapper,
.tooltip:focus-within > .tooltip__wrapper {
  clip-path: circle(
    100%
    at
    50%
    50%
  );
}

.tooltip:hover > .tooltip__trigger,
.tooltip:focus-within > .tooltip__trigger{
  transition-delay: 0ms;
  box-shadow: 0 0 0 5px rgba(0, 138, 255, 0.3);
  background-color: var(--color);
}