/* Header element includes central navigation system */


.header {
    width: calc(100 * var(--bu));  /* 100 unit blocks */
    width: 100%;
    z-index: 19999;
    margin: 0 auto; 
}

.bar {
    width: 100%;
    margin: 0 auto;
    height: calc(8 * var(--bu)); 
    display: grid;
    grid-template-columns: calc(50 * var(--bu)) auto calc(50 * var(--bu));
}

.logo {
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('svg/logo.svg');
    background-size: 75%;
    position: relative;
    display: inline-block;

    height: calc(8 * var(--bu)); 
    width: calc(8 * var(--bu)); /* Eight unit blocks */
}

/* In-logo Ajax loader. */

.loader {
    animation: loading 1s linear infinite;
    border-top-color: #f9ff00 !important;
    border-left-color: #ef730c !important;
    border-bottom-color: #445aff !important;
    border-right-color: #0da !important;
    border-radius: 50%;
    position: absolute; 
    width: calc(3/4 * 8 * var(--bu)); 
    height: calc(3/4 * 8 * var(--bu));
    border: calc(1/2 * 1/4 * 8 * var(--bu)) solid;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.offline > .loader {
    display: block ;
    visibility: visible ;
    animation: loading 4s linear infinite reverse;
    border-top-color: #ccc;
    border-left-color: #000;
    border-bottom-color: #ccc;
    border-right-color: #000;
    width: calc(3/4  * 8 * var(--bu)); 
    height: calc(3/4  * 8 * var(--bu));
}

.offline.logo {
    filter: grayscale(1);
}

.beta{
    color: #777;
    font-size: calc(1/2 * 1/4 * 8 * var(--bu));
    transform: translateX(calc( 14/4 * var(--bu))) translateY(calc(-1/2 * 4 * var(--bu))) rotate(90deg);
    line-height: 1;
}

.search {
    width: calc(40 * var(--bu));
    height: calc(8 * var(--bu));
    padding: 0 0 0 calc(6 * var(--bu));    
    outline: 0;
    border: none;
    display: inline-block;
    background-image: transparent;
    background-image: image-url('svg/search.svg');
    background-repeat: no-repeat;
    background-size: calc(6 * var(--bu)) calc(4 * var(--bu));
    background-position: left center;
}

ul#suggestions {
    position: absolute;
    top: calc(8 * var(--bu));    
    left: 0;
    margin: 0 calc(10 * var(--bu));    
    li {
        width: inherit;
        display: flex;
        margin-bottom: 1px;
        background: white;
        a {
            color: #444;
            background: #e9e9e9;
            padding: 7px 10px;
            width: inherit;
            &:hover {
                color: #1177FF;
                border-color: #1177FF;
                background-color: rgba(0, 100, 255, 0.1);
            }
        }
    }
}

@media (orientation: portrait) {
    body {
        ul#suggestions {
            width: calc(80 * var(--bu));
        }
    }
}

@media (orientation: landscape) {
    body {
        ul#suggestions {
            width: calc(80 * var(--bu));
        }
    }
}
















