/* Portrait ⇋ landscape switch. */
@import url('/dist/portrait.css') only screen and (orientation: portrait);

@import url('/dist/landscape.css') only screen and (orientation: landscape);

/* --vmin stands for base unit of blockscoped typography. */
@media only screen and (orientation: portrait) {
  :root {
    --vmin:calc(100vw/100);
  }
}

@media only screen and (orientation: landscape) {
  :root {
    --vmin:calc(100vh/100);
  }
}

/* Global variables below */

:root {
	--vmin:1vmin;

  /*Font familia */
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --serif: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif;
  --system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif !important;
	--monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	/* Put your application color palette over here */

}

/* Handle the notched phones with a botched MQ from Apple. */
/* Read more: https://bubblin.io/blog/notch */
@supports (padding: max(0px)) {
  body, header, footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
  body {
    min-height: -webkit-fill-available;
  }
}
