/* Notice the use of `in` (inches) on the media-query below.
We don't use pixels because the physical size of the watch is
too small for pixels to scale the layout correctly. Hardcoding
pixel values on a @media-query breakpoint is somewhat an
antipattern for the Apple Watch and must be avoided. */

/* Read more at https://bubblin.io/blog/toucaan-introduction */

/*  All the style for smart watch or really very tiny viewports here. */
@media only screen and (max-width: 2in) {
	body {
		--scalar: 2;
	}
}

/* Smartphones and phablets in portrait mode.*/
@media only screen and (min-width: 2.000000000001in) and (max-width: 4.5in) {
	body {
		--scalar: 1.5;
	}
}

/* Tablets and pro tablets in portrait mode. A tablet of 8" breadth is usually a 13" tablet.   */
@media only screen and (min-width: 4.500000000001in) and (max-width: 8in) {
	body {
		--scalar: 1;
	}
}

/* Anything above 8 inches of width (portrait mode) is either a desktop or a TV or
a vertically projected screen. At those physical size, the real estate available along
the portrait edge is enough to supply full UI/UX instead of a, say, hamburger menu.

I mean designing for large portrait surface is as
good as designing for usual desktop (landscape) mode. */
@media only screen and (min-width: 8.000000000001in) {
	body {
		--scalar: 0.75;
	}
}


/* Set up a baseline environment. */

@import './app/typeset/typography';

@import './app/typeset/typeset';

@import './env/helpers/universal';

@import './env/tags/html';

@import './env/tags/body';

@import './env/tags/anchor';

@import './env/tags/lists';

@import './env/tags/form';

/* Environment helpers & utilities. */

@import './env/helpers/reusable';

@import './env/helpers/pseudos';

@import './env/helpers/group';

/* App specific styles and theme here. */

@import './app/button';

@import './app/shadows';

@import './app/colors';

@import './app/flashes';

@import './app/components/header';

@import './app/components/main';

@import './app/components/app';

@import './app/components/radiobuttons';

@import './app/components/checkbox';

@import './app/components/footer';
