/* Thematic breaks */

hr {
    box-sizing: content-box;
    display: block;
    height: 1px;
    margin: calc(1/2 * (1.5 * 4 * var(--fs) - 1px)) 0;  /* Take a break of one-line-height total. */
    border: 0;
    border-bottom: 1px solid var(--bc);
    box-shadow: 2px 2px 2px hsla(250, 100%, 70%, 0.25);
    padding: 0;
}

hr.dingbat {
  border: 0;
  text-align: center;
  height: calc(1 * 1.5 * 4 * var(--fs)); /* Occupy one line total. */
  margin: 0 auto; 
}

hr.dingbat::after {
  content: "";
}

hr.dingbat::before {
  content: "❦";
  font-size: calc(1 * 4 * var(--fs));
  color: var(--bc);
  line-height: calc(1.5 * 4 * var(--fs));   
}

