menu,
ul,
ol {
  margin: 0;
  padding: 0;
}

menu,
ul {
  list-style-image: none;
  list-style: none;
}

nav ul {
  list-style: none;
  list-style-image: none;
}

ol {
  list-style: none;
  counter-reset: item;
}

ol li {
  counter-increment: item;
  margin-bottom: var(--vmin);
}

ol li:before {
  margin-right: var(--vmin);
  content: counter(item);
  width: calc(4 * var(--vmin));
  height: calc(4 * var(--vmin));
  text-align: center;
  display: inline-block;
  color: var(--fc);
}

.check-list {
  margin: 0;
  padding-left: calc(1 * var(--vmin));
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: calc(5 * var(--vmin));
  margin-bottom: 0;
}

.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: calc(1 * var(--vmin));
  width: calc(1.2 * var(--vmin));
  height: calc(3 * var(--vmin));
  border-width: 0 3px 3px 0;
  border-style: solid;
  border-color: var(--fc);
  transform-origin: bottom left;
  transform: rotate(45deg);
}
