/* Consistent html element */

html {
	background-color: white;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
	text-size-adjust: 100%;
}

/* Write your application styles below */
