.layout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: cal(--var(bu));
	grid-template-areas:
		"header"
		"main"
		"footer"
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
