/* Background colors. */

.white-bg {
  background-color: var(--white);
}

.black-bg {
  background-color: var(--black);
}

.violet-bg {
  background-color: var(--bc);
}

.red-bg {
  background-color: var(--rg);
}


/* Text or fore colors. */
.red-text {
  color: var(--rg);
}

.violet-text {
  color: var(--bc);
}

.white-text {
  color: var(--white);
}
