::-moz-selection {
    background: #a7d7ff;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #a7d7ff;
    color: #000;
    text-shadow: none;
    &:window-inactive {
        background: #eaeaea;
        color: #000;
    }
}

input:-webkit-autofill {
	box-shadow: 0 0 1000px #FBFBFB inset;
  -webkit-box-shadow: 0 0 1000px #FBFBFB inset;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::placeholder {
    font: inherit;
    font-size: calc(4 * var(--vmin));
    color: var(--fc);
    line-height: calc(1 * 4 * var(--vmin));
    height: calc(1 * 4 * var(--vmin));
    opacity: 1;
}
