::-moz-selection {
  background: var(--rust);
  color: #fff;
  text-shadow: none !important;
}

::selection {
  background: var(--rust);
  color: #fff;
  text-shadow: none !important;
  &:window-inactive {
    background: #eaeaea;
    color: #000;
  }
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder,
input::placeholder {
  font: var(--monospace);
  font-size: inherit; /* Best to inherit the values from the containing parent. */
  line-height: calc(1.5 * 4 * var(--fs));
  height: calc(1.5 * 3.5 * var(--fs));
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // -webkit-text-fill-color: var(--green);
  box-shadow: 0 0 1000px var(--limegreen) inset;
  -webkit-box-shadow: 0 0 1000px var(--limegreen) inset;
  transition: background-color 5000s ease-in-out 0s;
}
