/* Element Positioning */
.left {
	float: left;
	left: 0;
}

.right {
	float: right;
	right: 0;
}

.center {
	margin: 0 auto;
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/* -- Push aside, out & away ---*/
.side-gap {
	margin-right: calc(1 * var(--vmin)); /* 20% of one line-height on either side */
	margin-left: calc(1 * var(--vmin));
}

.top-gap {
	margin-top: calc(4 * var(--vmin)); /* One line-height */
}

.double-top-gap {
	margin-top: calc(2 * 4 * var(--vmin)); /* Two line-heights */
}

.bottom-gap {
	margin-bottom: calc(4 * var(--vmin)); /* One line-height */
}

.double-bottom-gap {
	margin-bottom: calc(2 * 4 * var(--vmin)); /* Two line-heights */
}

.pad {
	padding: calc(5 * var(--vmin));
}

.pad-vertically {
	padding: calc(5 * var(--vmin)) 0;
}

.pad-horizontally {
	padding: 0 calc(5 * var(--vmin));
}

.rotate {
	transform: rotate(180deg);
}

.will-change {
	will-change: transform;
	transform: translate3d(0, 0, 0);
}

.unpointable {
	pointer-events: none;
}

.pointable {
	pointer-events: auto;
}

.blur {
	backdrop-filter: blur(calc(1 * var(--vmin)));
}

